body{
    background-color:  wheat;
}
header{
    padding-left: 20px ;
}
button{
    color: white;
    background-color: blue;
    border: 2px solid blue;
    border-radius: 5px;
    height: 30px;
}
h1{
    width: 300px;
    padding-left: 20px;
    padding-top: 20px;
    
}
.testContent{
    background-color: rgb(180, 208, 220);
    height: 150px;
    padding-left: 50px;
    border: 2px solid rgb(180, 208, 220);
    border-radius: 10px; 
    margin-top:10px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.testpara{
    margin-left: 50px;
    max-width: 400px;
    background-color: rgb(180, 208, 220) ;
    height: 100px;
}
.dryCough{
    background-color: rgb(13, 191, 90);
    width: 100px;
    height: 100px;
    margin-left: 20px;  
    float: left;
    text-align: center;
    padding-top: 10px;
    border-radius: 10px;
}
.highFever{
    background-color: rgb(243, 53, 129);
    width: 100px;
    height: 100px;
    margin-left: 20px;  
    float: left;
    text-align: center;
    padding-top: 10px;
    border-radius: 10px;
}
.headache{
    background-color: rgb(178, 20, 218);
    width: 100px;
    height: 100px;
    margin-left: 20px;  
    float: left;
    text-align: center;
    padding-top: 10px;
    border-radius: 10px;
}
.fa-virus{
    float: left;
    font-size: 70px;
    margin-top: 30px;
    padding-right: 50px;
}
.content {
    background-color:white;
    height: 800px;
    width: 700px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
}
.bottomContent{
    background-color:  rgb(227, 111, 96);
    height: 200px;
    padding-left: 50px;
    border-radius: 10px; 
    width: 600px;
    padding-top: -300px;
    margin-left: auto;
    margin-right: auto;
}
.float{
    float: right;
    margin-right: 80px;
    margin-top: -10px;
}
.bottomIcon{
    padding-top: 50px;
}
.topIcon{
    height: 150px;
    width: 100px;
    float: right;
    margin-right: 40px;
}