
  @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
    body{
        background: linear-gradient(rgba(0,0,0,0.5),#009688),url(https://images.pexels.com/photos/696287/pexels-photo-696287.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
        background-repeat: no-repeat;
        background-size:cover;
        background-position:center;
        height: 100vh;
        overflow: hidden;
    }
    button{
        color: white;
        background-color: transparent;
        border: 1px solid white;
        height: 30px;
        width: 100px;
        margin-top: 50px;
    }
    .main{
        display: flex;
        justify-content: center;
        position: relative;
        top: 150px;
        color: white;
    }
    button:hover{
        background-color: white;
        color: black;
    }
    h1{
        font-size: 60px;
        font-family: 'Lobster', cursive;
        font-weight: lighter;
    }
    .container{
        text-align: center
    }
    p{
        margin-top: -30px;
    }
    .icon{
        background-color: #009688;
        width: 35px;
        height: 40px;
        border-radius: 2px;
        text-align: center;
        float: right; 
        margin-right: 20px;  
    }
    .menu{
        padding-top: 10px;
    }
    h3{
        color: white;
        margin-left: 250px;
    }